* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titlebar,
.titlebar>ul>li>.dropdown {
  background-color: #dedede;
}

.titlebar>ul>li,
.titlebar>ul>li>.dropdown>li {
  font-size: 14px;
  cursor: pointer;
}

.titlebar>ul>li:hover,
.titlebar>ul>li>.dropdown>li:hover {
  background-color: #bababa;
}

.titlebar,
.titlebar>ul,
.titlebar>ul>li,
.titlebar>ul>li>.dropdown>li {
  display: flex;
}

.titlebar>ul,
.titlebar>ul>li,
.titlebar>ul>li>.dropdown>li {
  align-items: center;
}

.titlebar>ul>li>.dropdown,
.titlebar>ul>li>.dropdown>hr,
main div {
  border: 1px solid #afafaf;
}

.titlebar {
  border-bottom: 1px solid #afafaf;
  justify-content: space-between;
  height: 35px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar>ul {
  flex-direction: row;
}

.titlebar>ul>li {
  user-select: initial;
  -webkit-user-select: initial;
  -webkit-app-region: no-drag;
  height: 100%;
  padding: 0 15px;
  list-style: none;
  position: relative;
}

.titlebar>ul>li>.dropdown {
  display: none;
  width: 18em;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  z-index: 1000;
}

.titlebar>ul>li>.dropdown>li {
  padding: 10px 10px;
  gap: 10px;
}

.titlebar>ul>li>.dropdown>li>i {
  font-size: 1.3em;
  image-rendering: pixelated;
}